<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head") %>
  </head>
  <body>
    <%- include("./partials/nav") %> <%- include("./sections/home") %> <%-
    include("./sections/solutions") %> <%- include("./sections/technology") %>
    <%- include("./sections/about") %> <%- include("./sections/projects")%> <%-
    include("./sections/contact") %>
  </body>
</html>
